*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pinyon+Script&display=swap');


    .header{
        height:180px;
        background: #1c2834;
        background-size:cover;
        background-position:top;
        position:relative;
        background-attachment: fixed;
    }

    .header__text-box{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        text-align:center
    }

    
    body .heading-primary{
        color:#fff;
        text-transform:uppercase;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        margin-bottom:6rem
    }
    
    body .heading-primary--sub{
        display:block;
        font-size:2rem;
        font-weight:700;
        letter-spacing:1.75rem;
        -webkit-animation-name:moveInRight;
        animation-name:moveInRight;
        -webkit-animation-duration:2.5s;
        animation-duration:2.5s
    }
    

.formF{
    padding-left: 50px;
}

input{
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}

textarea{
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}

.formbtn{
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: #1c2834;
    background-size:cover;
    border: none;   
    cursor: pointer;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding: 20px;
}